<div class="back">
  <%= link_to "Back to the list of articles", articles_path %>
</div>

<%= render @article %>

<h3>Comments:</h3>
<div id="comments">
  <%= render @article.comments %>
</div>

<%= render :file => "comments/new" %>